article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* header */
.header {
  background-color: #ef9590;
  padding-left: 6%;
}
.search,
.info {
  display: inline-block;
  max-width: (100%/3);
  /* margin-bottom: 1%; */
  margin-top: 1%;
}
.search {
  margin-top: 1%;
}
.logo {
  display: inline-block;
}
.logo-img {
  padding: 0px;
  margin: 0px;
  height: 100%;
  flex-shrink: 0;
  margin: 0px;
  vertical-align: middle;
}
.name {
  padding: 0px;
  margin: 0px;
  width: 100%;
  flex-shrink: 0;
  color: #1eb197;
  font-size: 18px;
  float: right;
  margin-top: 6%;
  margin-right: 30%;
}
.search-box {
  color: #dacdcd;
  height: 49px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #000;
  width: 78.5%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}
.search-button {
  width: 10%;
  height: 49px;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  background: #ef9590;
  padding: 0px;
  margin: 0px;
}
.info {
  display: inline-block;
  margin-left: 2%;
}
.btn {
  width: 20%;
}

.information {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}
.user {
  border-radius: 15px;
}
nav {
  display: none;
}
.menu {
  display: none;
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 1px;
  cursor: pointer;
}
.burger-menu {
  display: none;
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: none;
}

.search-img {
  display: none;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: -30px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 4%;
  right: 6%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ef9590;
  min-width: 250px;
  margin-top: 21%;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 30px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: black;
}

.dropdown .dropdown-content.show {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.nav-bar {
  width: 100%;
  height: 66px;
  flex-shrink: 0;
  background: #ffefef;
}

@media screen and (max-width: 1100px) {
  .header {
    height: 70px;
  }
  nav {
    display: block !important;
  }
  .name {
    display: none !important;
  }
  .logo-img {
    height: 100%;
    display: inline-block;
  }
  .search-box {
    width: 85%;
  }
  .search-button {
    width: 15%;
  }
  .info {
    margin: 0px;
    padding: 0px;
  }
  .menu {
    position: absolute;
    top: 25%;
    right: 40%;
    margin-left: 20%;
    opacity: 1;
  }
  .burger-menu,
  .menu {
    display: block;
  }
  .information {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .dropdown-content {
    min-width: 199px;
    float: right;
  }
}

@media screen and (max-width: 425px) {
  .menu {
    opacity: 1;
    float: right;
    width: 100%;
    margin-top: 12%;
  }
  .dropdown {
    float: right;
  }
  .logo-img {
    height: 100%;
  }
  .info {
    float: right;
  }
  .search {
    display: none;
  }
  .information {
    display: none;
  }
  .dropdown-content {
    min-width: 170px;
    float: right;
  }
}
